/*
reset
*/
/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
	th, td, article, aside, canvas, details, figcaption, figure, footer,
	header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

body {
	line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block
}

nav ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}

del {
	text-decoration: line-through
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

input, select {
	vertical-align: middle
}
/*

  Custom design
  
*/
body {
	background-color: #F8F8F8;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0px;
	padding: 0px;
}

.display-none {
	display:none;
}

.sidemenu-position {
	top:30px !important;
}

#menu {
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
	min-height: 30px;
  _box-shadow: 1px 3px 2px #888888;
  _margin-bottom: 24px;
}


#menu>ul>li {
	position: relative;
	display: inline-block;
	background: rgba(0, 0, 0, 0.25);
}

#menu > a a:VISITED {
	display: inline-block;
	color:#fff;
}

#menu>ul>li ul {
	display: none;
	position: absolute;
	top: 20px;
}

#menu>ul>li:hover ul {
	display: block;
}

#menu>ul>li li {
	display: block;
	background: rgba(0, 0, 0, 0.25);
	padding:5px;
}

.menu {
	color:#fff;
	text-decoration: none;
	padding : 6px;
	padding-bottom: 8px;
}

#columns {
	margin: auto;
	height: 1020px;
	background: rgba(186, 203, 228, 0.26);
	resize: both;
	overflow: auto;
	position: relative;
	top: 130px;
	left: 50%;
	width: 960px;
	margin-left: -480px;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.column {
	background-color: #ccc;
	cursor: move;
	float: left;
	_border: 1px solid black;
	resize: both;
	height: 100px;
	width: 100px;
	padding: 0px;
	margin: 0px;
}



.column.over {
	border: 2px dashed #000;
}

.column.moving {
	opacity: 0.25;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

.shrink {
	height: 50% !important;
	width: 50% !important;
	margin-left: 25% !important;
	margin-top: 25% !important;
}

.hide-side-menu {
	width: 20px !important;
}

.hide-inner-side-menu {
	display: none;
}

/* File uploader */

output {
  display: block;
}

#byte-content {
  margin: 5px 0;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

#byte-range {
  margin-top: 5px;
}

#drop-zone {
  border: 2px dashed red;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #bbb;
  font-size: 20pt;
  font-weight: bold;
  padding: 25px;
  text-align: center;
  color:#fff;
}

#drop-zone.hover {
  background-color: #def;
  border-color: #777;
  color: #777;
}

#progress-bar {
  background-color: #9cf;
  border: 1px solid #000;
  font-size: 14px;
  margin: 10px 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  padding: 3px;
}

#progress-bar.loading {
  opacity: 1.0;
}

.thumb {
  _border: 1px solid #000;
  _height: 75px;
  max-width: 220px;
  margin: 10px 5px 0 0;
}

/*scroll bar*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    _-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    _-webkit-border-radius: 10px;
    _border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    _-webkit-border-radius: 10px;
    _border-radius: 10px;
    _background: rgba(255,0,0,0.8); 
    _-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  _background: rgba(255,0,0,0.4); 
}
